.todo-page{
    height: 100vh;
}
.todo-body-page{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.todo-container{
   
}
.todo-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: none;
    box-shadow: -2px 0px 3px 8px aliceblue;
    border-radius: 7px;
    margin-top: 10%;
    padding: 4%;
    width: 500px;
}
.input-element{
    width: 98%;
    height: 30px;
    margin: 5px 0px 30px 0px;
    padding: 5px;
    outline: none;
    border: none;
    font-size: 20px;
    box-shadow: -1px 0px 6px 2px black;
}
.textarea-element{
    width: 100%;
}
.add-btn{
    width: 100px;
    height: 25px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.todo-list-heading{
    margin: 20px;
}
.no-todo-view-container{
    margin: 20px;   
}
.todo-list-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app-heading{
    margin: 20px; 
    text-align: center;
}
.app-heading-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}