.contact-page{
    height: 100vh;
}
.feedback-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.feedback-form{
    background-color: white;
    width: 40%;
    padding: 2%;
    border-radius: 7px;
    box-shadow: 1px 0px 6px 4px grey;

}
.feedback-heading{
    text-align: center;
    margin: 0px 5px 25px 5px;
}
.input-element{
    width: 70%;
    height: 30px;
    margin: 5px 0px 30px 0px;
    padding: 5px;
    outline: none;
    border: none;
    font-size: 20px;
    box-shadow: -1px 0px 6px 2px black;
}
.textarea-element{
    margin: 5px 0px 5px 0px;
    width: 90%;
    height: 200px;
    font-size: 16px;
}
.submit-button{
    color: white;
    background-color: green;
    height: 30px;
    border: navajowhite;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 18px;
}
.label-element{
    margin: 6px;
    font-family: fangsong;
    font-size: 20px;
}
